.photo:hover img {
  transform: scale(1.2);
}
@media screen and (min-width: 1500px) {
  .photo:hover img {
    transform: scale(1.6);
  }
}

.photo {
  overflow: hidden;
  margin: 0px;
}

.advanceHeading {
  font-size: 30px;
  line-height: 42px;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
  /* text-align: center; */
  margin-top: 0px;
}
.advanceText {
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: rgba(79, 79, 79, 1);
}

.advance-alignment {
  margin-left: -32px;
}

.plan-line {
  width: 110px;
  height: 2px;
  position: absolute;
  left: 733px;
  top: 130px;
}
.except-line {
  width: 190px;
  height: 2px;
  position: absolute;
  left: 2px;
  top: 40px;
}
.develop-line {
  width: 190px;
  height: 2px;
  position: absolute;
  left: 4px;
  top: 40px;
}
.pure-line {
  width: 190px;
  height: 2px;
  position: absolute;
  left: 1px;
  top: 40px;
}

.proWd {
  flex-basis: 16.66%;
}

.proFlex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .advanceHeading {
    font-size: 21px;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
    background: -webkit-linear-gradient(#20932c, #a0fd90);
    background-image: linear-gradient(to right, #20932c, #a0fd90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
    /* text-align: center; */
    margin-top: 22px;
  }
  .plan-line {
    display: none;
  }
  .except-line {
    display: none;
  }

  .develop-line {
    display: none;
  }
  .pure-line {
    display: none;
  }
  .proWd {
    flex-basis: 56% !important;
  }
  .proFlex {
    display: flex;
    align-items: flex-start;
  }
  .advanceText {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    color: rgba(79, 79, 79, 1);

    /* line-height: 29px; */
  }
}
