@font-face {
    font-family: myoriginal;
    src: url(/public/fonts/original.ttf);
  }
  
  @font-face {
    font-family: oriyFont;
    src: url(/public/fonts/oriya.ttc);
  }
  
  .shop-heading {
    font-size: 50px;
    background-clip: text;
    font-weight: 600;
    line-height: 66px;
    color: black;
  }

  
  
  @media screen and (max-width: 600px) {
    .shop-heading {
      font-size: 30px;
      font-weight: bold;
      line-height: 40px;
     ;
    }
  }
  