@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



* {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  img {
    vertical-align: bottom;
  }
  /* sfwefwefreset css end */
  
  html, body {
    overflow-x:clip; 
  } 
  
  .container {
    width: 100%;
    margin: auto;
    padding: 0px 0px;
    box-sizing: border-box;
    height: auto;
  }
  
  .row {
    box-sizing: border-box;
    margin: 0px 0px;
    width: 100%;
  }
  
  .section-margin1 {
    margin-top: 50px;
  }
  
  .section-margin2 {
    margin-bottom: 50px;
  }
  
  .clearfix {
    clear: both;
    display: block;
  }
  
  .col-1 {
    width: 8.33%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-2 {
    width: 16.66%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-3 {
    width: 25%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-4 {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-5 {
    width: 41.66%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-6 {
    width: 50%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-7 {
    width: 58.33%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-8 {
    width: 66.66%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-9 {
    width: 75%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-10 {
    width: 83.33%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-11 {
    width: 91.66%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  .col-12 {
    width: 100%;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
  }
  
  @font-face {
    font-family: myfont;
    src: url(/public/fonts/originalsurfer.ttf);
  }
  
  @font-face {
    font-family: mymon;
    src: url(/public/fonts/mon.ttf);
  }
  
  @font-face {
     
    src: url(/public/fonts/josefont.ttf);
  }
  
  @font-face {
    font-family: mylight;
    src: url(/public/fonts/Nunito-Light.ttf);
    
  }
  
  @font-face {
    font-family: helvetica;
    src: url(/public/fonts/Helvetica.ttf);
  }
  
  @font-face {
    font-family: orig;
    src: url(/public/fonts/original.ttf);
  }
  @font-face {
    font-family: open;
    src: url(/public/fonts/open.ttf);
  }
  
  @font-face {
    font-family: oriyafont;
    src: url(/public/fonts/oriyamont.ttf);
  }
  
  .cusines-image {
    position: absolute;
    top: -40%;
    height: 600px;
  }
  
  .taste {
    color: #ff4f4f;
    font-family: "Montserrat";
    font-size: 55px;
  }
  .font-mont {
    font-family: "Montserrat" ;
  }
  
  .manu-text {
    font-family: "Josefin Sans" ;
    color: #1e1e1e;
    text-align: center;
    line-height: 33px;
    font-size: 22px;
    font-weight: 300;
  }
  .font-text {
    font-family: "Josefin Sans" ;
  }
  
  .brand {
    width: 100% !important;
  }
  .mont-font {
    font-family: "Montserrat" ;
  }
  
  .produce_line {
    transform: rotate(180deg);
    width: 234px;
    height: 2px;
    position: absolute;
    left: 61px;
    top: 99px;
  }
  
  .taste_line {
    background: linear-gradient(106.83deg, #ffffff 48.97%, #ffffff 100%);
    transform: rotate(0deg);
    width: 75px;
    height: 2px;
    /* position: absolute;
    left: 0px;*/
    top: -10px;
    position: relative; 
  }
  
  .foodyPad {
    padding: 0px;
  }
  
  .foodyImage {
    width: 100%;
  }
  
  .foodyFlex {
    display: flex;
    line-height: 0px;
  }
  
  .foodyFlex i {
    align-self: center;
    color: #ffffff;
    padding-right: 10px;
  }
  
  /* .foodyBackground {
    height: 608px;
  }
   */
  .foodyItem {
    align-self: center;
  }
  
  .explore-foody {
    height: 56px;
    width: 156px;
    border-radius: 30px;
    font-size: 15px;
    color: #ff4f4f;
    font-family: "myregular" ;
    box-shadow: 0px 1px 3px 0px #ffffff;
    border: 1px solid white;
  }
  
  .bussiness-heading {
    font-family: "myfont" ;
  }
  
  .spicy_line {
    transform: rotate(180deg);
    width: 290px;
    height: 1px;
    position: absolute;
    left: 206px;
    top: 72px;
    /* background: linear-gradient(102.83deg, #ffffff 8.97%, #ff4f4f 100%); */
  }
  
  .planetsera_line {
    /* background: linear-gradient(102.83deg, #ffffff -2.03%, #ff4f4f 100%); */
    transform: rotate(180deg);
    width: 190px;
    height: 1px;
    position: absolute;
    left: 4px;
    top: 232px;
  }
  .bussiness-text {
    font-family: "open" ;
    color: #9497a1;
    font-size: 14px;
  }
  
  .bussiness-Flex {
    display: flex;
  }
  
  /* .bussiness-image {
    margin-top: -17px;
    margin-left: -80px;
  }
  
  .bussiness-background {
    background-image: url(./assets/images/bussiness-rect.webp);
    background-repeat: no-repeat;
    height: 566px;
    background-size: cover;
  } */
  
  .common-explore {
    display: flex;
    width: 140px;
    background-color: #ff6768;
    border-radius: 23.5px;
    text-align: center;
    height: 45px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-family: "mylight" ;
    box-shadow: 2px 2px 14px 1px #bfb9b9;
    margin: 28px 0px;
  }
  
  /* .solution-background {
    background-image: url(./assets/images/solution-rect.webp);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .solution-image {
    margin-top: -120px;
    margin-left: 3px;
  } */
  
  .solution-Item {
    align-self: center;
  }
  
  .sectionBackground {
    background-image: url(/public/images/backgrounds/masala.webp);
  }
  
  .gra-box {
    color: #0d0d0d;
    /* bottom: 0px; */
    /* margin-top: 215px; */
    text-align: center;
    font-family: "myregular" ;
    font-size: 22px;
    margin-bottom: -170px;
    text-align: center;
  }
  
  .gra-img {
    margin-bottom: 60px;
  }
  .gra-box-1 {
    bottom: 0;
    background-image: linear-gradient(#3c0c6a 0%, #a462e3 100%);
    border-radius: 16px;
    width: 90%;
    font-family: "myfont" ;
    box-shadow: 0px 0px 9px 0px #7b40b2;
    z-index: -4;
    height: 202px !important;
  }
  
  .gra-box-2 {
    bottom: 0;
    background-image: linear-gradient(#370000 0%, #961010 100%);
    border-radius: 16px;
    width: 90%;
    font-family: "myfont" ;
    box-shadow: 0px 0px 9px 0px #8c0e0f;
    z-index: -4;
    height: 202px !important;
  }
  
  .gra-box-4 {
    bottom: 0;
    background-image: linear-gradient(#734809 0%, #d78306 100%);
    border-radius: 16px;
    width: 90%;
    font-family: "myfont" ;
    box-shadow: 0px 0px 9px 0px #c47806;
    z-index: -4;
    height: 202px !important;
  }
  
  .gra-box-8 {
    bottom: 0;
    background-image: linear-gradient(#937920 0%, #fdde90 100%);
    border-radius: 16px;
    width: 90%;
    font-family: "myfont" ;
    box-shadow: 0px 0px 9px 0px #e0c272;
    z-index: -4;
    height: 202px !important;
  }
  
  .gra-box-6 {
    bottom: 0;
    background-image: linear-gradient(#afa801 0%, #d7cf06 100%);
    border-radius: 16px;
    width: 90%;
    font-family: "myfont" ;
    box-shadow: 0px 0px 9px 0px #d3cc04;
    z-index: -4;
    height: 202px !important;
  }
  
  .with_line {
    /* background: linear-gradient(109deg, #ffffff 18%, #ff4f4f 100%); */
    transform: rotate(180deg);
    width: 203px;
    height: 1px;
    position: absolute;
    left: 63px;
    top: 168px;
  }
  
  .quality_line {
    /* background: linear-gradient(102.83deg, #ff4f4f 4.97%, #ff4f4f 100%); */
    transform: rotate(180deg);
    width: 225px;
    height: 1px;
    position: absolute;
    left: 66px;
    top: 138px;
  }
  .experience-bg {
    border-radius: 15px;
    width: 374px;
    height: 94px;
    border: 1px solid white;
  }
  
  .experience span {
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 56px;
    font-family: "Montserrat" ;
  }
  
  .experience-point-1 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    line-height: 28px;
    font-family: "Montserrat" ;
  }
  
  .experience-point-2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    line-height: 32px;
    font-family: "Montserrat" ;
  }
  
  .experienceFood {
    position: absolute;
    right: 0%;
    /* bottom: 0%; */
    height: 645px;
    top: 50%;
  }
  
  .masala-button {
    width: 165px;
    height: 56px;
    border-radius: 30px;
    display: block;
    color: #ffffff;
    font-family: "myregular" ;
  }
  
  .masala-background {
    position: absolute;
    top: 0%;
    z-index: 8;
    opacity: 0.1;
    height: 875px;
    width: 100%;
  }
  
  .spciesImage {
    position: absolute;
    right: 0%;
    height: 725px;
    /* width: 686px; */
    opacity: 0.1;
  }
  
  img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1.7s infinite alternate;
  }
  img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1.7s infinite alternate;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 100% !important;
    }
  }
  
  .healthyScroll {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 10s linear;
  }
  .cartScroll {
    max-height: 500px;
    overflow: auto;
  }
  
  @media only screen and (max-width: 600px) {
    .cartScroll {
      max-height: unset;

        overflow: none;
    }
}
  /* .healthyScroll::-webkit-scrollbar {
    display: none;
  } */
  
  .healthyScroll:hover {
    transform: translateY(calc(-300%));
    transition: transform 20s linear;
  }
  .pl-141 {
    padding-left: 2rem;
  }

/*  -------Media Querry----------------- */

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .pouAli {
    margin-top: -0px;
  }

  .header-img {
    margin-top: 39px;
  }

  


  .produce_line {
    display: none;
  }

  .taste_line {
    display: none;
  }
  .masalaMobile-flex {
    position: relative;
    width: 100%;
  }

  .quality_line {
    display: none;
  }

  .planetsera_line {
    display: none;
  }

  .spicy_line {
    display: none;
  }

  .with_line {
    display: none;
  }

  .masalaMobile-width {
    width: 100%;
  }

  .px-28 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .experience-flex {
    width: 100%;
  }

  .experienceFood {
    position: absolute;
    right: 0%;
    height: 645px;
    top: 50%;
    opacity: 0.1;
  }

  .experience-bg {
    border-radius: 15px;
    width: 326px;
    height: 94px;
    border: 1px solid white;
  }

  .pl-14 {
    padding-left: 0rem !important;
  }

  .bussiness-Flex {
    display: block;
  }

  .solution-background {
    height: 400px;
  }

  .solution-image {
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
  }

 

  .masalaTab {
    display: block !important;
  }

  .manu-text {
    font-family: "Josefin Sans";
    color: #1e1e1e;
    text-align: justify;
    line-height: 33px;
    font-size: 18px;
    font-weight: 300;
  }
  .manuAb {
    position: absolute;
    top: 750px !important;
    height: unset !important;
    max-width: 100% !important;
  }

  .blogTab {
    margin-top: 20px !important;
  }

  .taste {
    color: #ff4f4f;
    font-family: "Montserrat";
    font-size: 28px;
  }



  .mt-40 {
    margin-top: 5rem !important;
  }

  .foodyBackground {
    /* height: 1000px; */
    padding-bottom: 30px;
    background-size: cover;
  }

  .pl-141 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .p-14 {
    padding: 1.5rem !important;
  }

  .pr-5 {
    padding-right: 0rem !important;
  }

  .cusines-image {
    position: absolute;
    top: 14%;
    height: 600px;
    opacity: 0.1;
  }

  .cooking-dis {
    display: none;
  }

  .basis-10\/12 {
    flex-basis: 83.333333%;
  }

  .basis-10\/12 {
    flex-basis: 100% !important;
  }

  .mt-401 {
    margin-top: 7rem !important;
  }

  .taste-cooking {
    color: #ff4f4f;
    /* font-family: myfont; */
    font-size: 33px;
  }

  #desktopNav {
    display: none;
  }

  #navigation {
    display: none;
  }

  /* #mobileNav{
            display: block;
        } */

  #desktopCart {
    display: none;
  }

  .nav-flex {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
  }

  #mobilenavigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 1px 2px 3px 3px #ff4f4f;
    box-shadow: 3px 0px 1px 0px #ff4f4f; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding-top: 4rem;
  }
  #mobilenavigation li {
    margin-bottom: 25px;
  }

  #mobilenavigation li a {
    font-family: "Montserrat";
    font-size: 28px;
    color: white;
    font-weight: 500;
  }

  #mobileNav i {
    cursor: pointer;
  }

  .slider-Image {
    background-image: url("/public/images/backgrounds/background.webp");
    background-repeat: no-repeat;
    background-size: contain !important;
    order: 1;
  }

  .myPos {
    order: 2;
  }

  .text-alignment {
    display: flex;
    flex-direction: column;
    height: 358px !important;
    justify-content: center;
    width: 100%;
    margin-top: 254px;
  }

  .header-display {
    display: none !important;
  }

  .basis-8\/12 {
    flex-basis: 100% !important;
  }

  .image-top {
    margin-top: 15px !important;
  }

  .icon-design {
    font-size: 21px;
    padding: 11px;
    border-radius: 10px;
  }

  .nav-shadow {
    box-shadow: 0px -1px 3px 3px #dfdada;
  }

  #mobile-pouch {
    display: block;
  }

  #desktop-pouch {
    display: none;
  }
  .mt-24 {
    margin-top: 0rem !important;
  }

  .slideRight {
    top: -20px;
    width: 196px;
    position: absolute;
  }

  .mobileBox-1 {
    width: 173px;
    height: 299px;
  }

  .img-box-1 {
    margin-left: 42px;
  }

  .Mobilepouch-box-1 {
    bottom: 0;
    background-image: linear-gradient(#dc2116 0%, #a20607 100%);
    border-radius: 16px;
    /* width: 90%; */
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #9a1208;
    z-index: 2;
    width: 100px;
    left: 27px;
    height: 92px !important;
    top: 38px;
    /* margin-bottom: 33px; */
  }

  .Mobilepouch-box-1 {
    bottom: 0;
    background-image: linear-gradient(#dc2116 0%, #a20607 100%);
    border-radius: 16px;
    /* width: 90%; */
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #9a1208;
    z-index: 2;
    width: 100px;
    left: 27px;
    height: 92px !important;
    top: 35px;
    /* margin-bottom: 33px; */
    position: absolute;
    z-index: 2;
  }

  .img-box-1 {
    margin-left: 37px;
    position: absolute;
    z-index: 3;
    margin-top: -11px;
  }

  .img-box-2 {
    margin-left: -34px;
    position: absolute;
    z-index: 3;
    margin-top: -13px;
  }

  .Mobilepouch-box-2 {
    bottom: 0;
    background-image: linear-gradient(#937920 0%, #fdde90 100%);
    border-radius: 16px;
    width: 100px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #fee583;
    z-index: 2;
    height: 92px !important;
    top: 36px;
    left: 147px;
    position: absolute;
  }

  .img-box-3 {
    margin-left: -99px;
    position: absolute;
    z-index: 3;
    margin-top: -13px;
  }

  .Mobilepouch-box-3 {
    bottom: 0;
    background-image: linear-gradient(#5e8409 0%, #447000 100%);
    border-radius: 16px;
    width: 100px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #4b7501;
    z-index: 2;
    height: 92px;
    top: 33px;
    left: 272px;
    position: absolute;
  }

  .mobileDisplay {
    display: none !important;
  }

  .explore {
    display: flex;
    border-radius: 30.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    /* font-family: "'Montserrat'"; */
    width: 165px;
    height: 56px;
    border: 1px solid white;
    font-size: 16px;
    padding: 22px;
  }
  .btn1 {
    transition: ease-out 0.4s;
  }
  .btn1:hover {
  }

  .explore-foody {
    height: 56px;
    width: 156px;
    border-radius: 30px;
    font-size: 15px;
    color: #ff4f4f;
     
    box-shadow: 0px 1px 3px 0px #ffffff;
    border: 1px solid white;
  }

  .btn2 {
    transition: ease-out 0.4s;
  }

  .btn2:hover {
  }

  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
  .w-1\/2 {
    width: 100% !important;
  }

  .productionLine {
    display: none;
  }

  .planetseraLine {
    display: none;
  }

  .technologyLine {
    display: none;
  }

  .desireLine {
    display: none;
  }

  .ordinaryLine {
    display: none;
  }

  .masalaLine {
    display: none;
  }

  .lastestLine {
    display: none;
  }

  .spciesLine {
    display: none;
  }

  .whyLine {
    display: none;
  }
  .cus_ab {
    position: absolute;
    bottom: -418px;
    max-width: 24%;
  }
}

@media only screen and (min-width: 600px) {
  #mobileNav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .myPos {
    order: 1;
  }
  .slider-Image {
    background-image: url("/public/images/backgrounds/background.webp");
    background-repeat: no-repeat;
    background-size: contain;
    order: 2;
  }

  .header-img {
    /* max-width: fit-content; */
    margin-top: 85px;
  }
  .header-display {
    display: block;
  }
  .heading-textt {
    font-family: "oriyafont";
    background-clip: text;
    font-style: normal;
    font-weight: 600;
    line-height: 81px;
    letter-spacing: 3px;
  }
  .nav-flex {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  #mobile-pouch {
    display: none;
  }
  #desktop-pouch {
    display: block;
  }

  .explore {
    display: flex;
    border-radius: 30.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    /* font-family: "Montserrat"; */
    width: 165px;
    height: 56px;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 400 !important;
  }
  .cus_ab {
    position: absolute;
    bottom: -100px;
    max-width: 24%;
  }
  .mt-401 {
    margin-top: 2rem !important;
  }

  .underlineEffect {
    background-image: linear-gradient(
      to right,
      #bdbdbd,
      #cfcfcf 50%,
      white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 1px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
  }



  .underlineEffect:before {
    content: '';
    /* background: #4f4f4f; */
    background: linear-gradient(
      to left,
      #4f4f4f,
      #bdbdbd     
    );
    
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  .underlineEffect:hover {
   background-position: 0;
  }
  
  .underlineEffect:hover::before {
    width:100%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100% !important;
  }

  .masalaMobile-width {
    width: 29%;
  }

  .masalaMobile-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  .px-28 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .experience-flex {
    display: flex;
  }

  .experienceFood {
    position: absolute;
    right: 0%;
    height: 645px;
    top: 50%;
    opacity: 1;
  }

  .experience-bg {
    border-radius: 15px;
    width: 374px;
    height: 94px;
    border: 1px solid white;
  }

  .pl-14 {
    padding-left: 3.5rem;
  }

  .business-Flex {
    display: flex;
  }

  /* .solution-background {
    background-image: url(./assets/images/solution-rect.webp);
    background-repeat: no-repeat;
    background-size: contain;
  } */

  .solution-image {
    margin-top: -170px;
    margin-left: 0px;
    height: 80%;
 
  }

  .bussiness-head-mobile {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.17em;
    /* background: linear-gradient(107.77deg, #ff4f4f 15.95%, #fe7171 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; */
  }

  /* .bussiness-background {
    background-image: url(./assets/images/bussiness-rect.webp);
    background-repeat: no-repeat;
    height: 669px;
    background-size: cover;
  }

  .bussiness-image {
    margin-top: -19px;
    margin-left: -80px;
    height: 725px;
  } */

  .mt-40 {
    margin-top: 10rem;
  }

  .pl-141 {
    padding-left: 3.5rem;
  }

  .p-14 {
    padding: 3.5rem;
  }

  .pr-5 {
    padding-right: 1.25rem;
  }

  .cusines-image {
    position: absolute;
    /* top: -40%; */
    height: 600px;
  }

  .cooking-dis {
    display: block;
  }

  .mt-401 {
    margin-top: 8rem !important;
  }

  .taste-cooking {
    color: #ff4f4f;
    /* font-family: myfont; */
    font-size: 51px;
  }

  .nav-flex {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  #mobileNav {
    display: none;
  }

  #navDropdown {
    display: none;
  }

  .heading-textt {
    font-family: "oriyafont";
    background-clip: text;
    font-style: normal;
    font-weight: 600;
    line-height: 81px;
    letter-spacing: 3px;
  }

  .slider-Image {
    background-image: url("/public/images/backgrounds/background.webp");
    background-repeat: no-repeat;
    background-size: contain;
    order: 2;
  }
  .myPos {
    order: 1;
  }

  .text-alignment {
    display: flex;
    flex-direction: column;
    height: 532px !important;
    justify-content: center;
    width: 100%;
  }

  .header-display {
    display: block;
  }

  .basis-8\/12 {
    flex-basis: 66.666667%;
  }

  .image-top {
    margin-top: 0px;
  }

  #mobile-pouch {
    display: none;
  }

  #desktop-pouch {
    display: block;
  }

  .mt-24 {
    margin-top: 6rem;
  }

  .explore {
    display: flex;
    border-radius: 30.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Montserrat";
    width: 165px;
    height: 56px;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 400 !important;
  }


  .btn1:hover {
  }
  .slideRight {
    position: absolute;
    top: -70px;
    width: 196px;
  }

  .pouch-box-1 {
    bottom: 0;
    background-image: linear-gradient(#dc2116 0%, #a20607 100%);
    border-radius: 16px;
    /* width: 90%; */
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #9a1208;
    z-index: -4;
    width: 127px;
    left: 13px;
    height: 92px !important;
    top: 57px;
  }
  .pouch-box-2 {
    bottom: 0;
    background-image: linear-gradient(#937920 0%, #fdde90 100%);
    border-radius: 16px;
    width: 127px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #fee583;
    z-index: -4;
    height: 92px !important;
    top: 57px;
    left: 172px;
  }

  .pouch-box-3 {
    bottom: 0;
    background-image: linear-gradient(#5e8409 0%, #447000 100%);
    border-radius: 16px;
    width: 127px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #4b7501;
    z-index: -4;
    height: 92px !important;
    height: 92px;
    top: 56px;
    left: 327px;
  }

  .explore-foody {
    height: 44px;
    width: 112px;
    border-radius: 30px;
    font-size: 14px;
    color: #ff4f4f;
    font-family: Montserrat;
    /* box-shadow: 0px 1px 3px 0px #ffffff; */
    border: 1px solid white;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
  }

  .btn2 {
    transition: ease-out 0.4s;
  }

  .btn2:hover {
  }

  .zoom {
    padding: 0px;
    /* background-color: green; */
    transition: transform 0.2s;
    /* width: 200px; */
    /* height: 200px; */
    margin: 0 auto;
  }

  .zoom:hover {
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari 3-8 */
    transform: scale(0.9);
  }

  .btn-masala {
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.4s;
    background-color: transparent;
    outline: 1px solid #ff6769;
  }

  .btn-masala:hover {
    color: black;
    /* background-color: black; */
    outline: 1px solid black;
  }

  .header-img {
    max-width: fit-content;
    margin-top: 85px;
  }

  .desktop-display {
    display: block;
  }
  .mobile-display {
    display: none;
  }


  .cus_ab {
    position: absolute;
    bottom: -220px;
    max-width: 24%;
  }

}

.manuAb {
  position: absolute;
  top: 90%;
  /* height: 150px; */
  width: 100vw !important;
  z-index: -10;
}

.redChilli {
  position: absolute;
  top: -162px;
}

.productionLine {
  width: 227px;
  height: 2px;
  position: absolute;
  left: 131px;
  top: 70px;
}

.planetseraLine {
  width: 129px;
  height: 2px;
  position: absolute;
  left: 131px;
  top: 70px;
}

.technologyLine {
  width: 120px;
  height: 2px;
  position: absolute;
  left: 66px;
  top: 210px;
}

.desireLine {
  width: 168px;
  height: 2px;
  position: absolute;
  left: 7px;
  bottom: 0;
}

.ordinaryLine {
  width: 176px;
  height: 2px;
  position: absolute;
  /* left: 0px; */
  top: 205px;
}

.masalaLine {
  width: 107px;
  height: 2px;
  position: absolute;
  left: 192px;
  bottom: 7px;
}

.lastestLine {
  width: 122px;
  height: 2px;
  position: absolute;
  left: 332px;
  /* top: 190px; */
}

.spciesLine {
  width: 122px;
  height: 2px;
  position: absolute;
  left: 495px;
  top: 61px;
}

.whyLine {
  width: 169px;
  height: 2px;
  position: absolute;
  left: 7px;
  top: 61px;
}

.masalaTab {
  display: flex;
  flex-wrap: wrap;
}

.blogTab {
  margin-top: 0px;
}


.pouAli {
  margin-top: -20px;
}

.fixed-position {
  position: fixed;
}


.scaleAnimate {
  animation: scaleTo 1s;
}

@keyframes scaleTo {
  0% {
    scale:0;
  }
  100% {
    scale:1;
    
  }
}

.navHeader{
  background: white;
  /* box-shadow: inset 0 -1px 0 0 var(--accents-2);
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0,0%,100%,.8); */
}

.blog-heading {
  font-size: 45px;
  font-family: "Montserrat";
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  font-weight: bold;
  line-height: 50px;
}


@media screen and (max-width: 600px) {
  .blog-heading {
    font-size: 20px;
    line-height: 40px;
  }
}