@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.story-heading {
  font-size: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
}

.story-text {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.how-line {
  width: 190px;
  height: 2px;
  margin-left: 5px;
  margin-top: -5px;
}

@media screen and (max-width: 600px) {
  .story-heading {
    font-size: 30px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    background: -webkit-linear-gradient(#20932c, #a0fd90);
    background-image: linear-gradient(to right, #20932c, #a0fd90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
  }
  .story-text {
    font-size: 18px;
    margin-bottom: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 30px;
  }
  .how-line {
    width: 170px;
  }
}
