@font-face {
   
  src: url(/public/fonts/josefont.ttf);
}

@font-face {
  font-family: oriyafont;
  src: url(/public/fonts/oriyafont.ttc);
}

.GalleryMenuHeading {
  font-size: 3.1rem;
  font-family: "Montserrat";
  background: -webkit-linear-gradient(#ff4f4f, #fe7171);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}
@media screen and (max-width: 1200px) {
  .GalleryMenuHeading {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .GalleryMenuHeading {
    font-size: 1.6rem;
    margin: 3rem 0 0rem 0;
    transform: scale(95%);
    line-height: 30px ;
  }
}

.GalleryMenuText {
  width: 100%;
  margin: auto;
  font-size: 16px;
  font-family: "Montserrat";
  color: #1e1e1e;
  padding: 0 10px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .GalleryMenuText {
    width: 96%;
    font-size: 1rem;
    margin-top: 10px;
  }
}

button,
[type="reset"],
[type="submit"] {
  /* background-image: none; */
}

.slider-indicators-dark .slider-indicators > *,
.slider-indicators-dark.slider-indicators > * {
  -webkit-filter: none;
  filter: none;
}

@media screen and (max-width: 600px) {
  .galleryContainer {
    margin-top: 50px !important;
    margin-bottom: 10px !important;
  }
}
